@charset "utf-8";
h1 {
    color: rgba(81,90,255,1.00);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.8em;
}
.highlight {
    color: #51FF75;
    font-weight: bold;
}

p {
    font-size: 0.8em;
    padding-left: 40px;
    padding-right: 20px;
    width: 640px;
    height: auto;
    min-height: 300px;
}

h2 {
    color: #00FFEB;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 1.3em;
}
body p {
    font-size: 0.8px;
    color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    height: auto;
}

ul li a {
    color: #317426;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-decoration: none;
}

body {
}
#nav ul li:hover >ul {
    display: block;
}

#nav ul ul li {
    float: none;





}
#nav a {
    background-color: #C0F6FF;
    color: #FFFFFF;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
}



.blue-big {
}
.blue-big {
	color: rgba(0,13,255,1.00);
	font-weight: bold;
}
a {
	color: rgba(75,160,103,1.00);
	text-decoration: none;
}
body h3 a {
}
#container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: rgba(255,255,255,1.00);
}
#heading {

}
#nav {
    width: 1024px;
    height: 30px;

}
ul li a {
}


#text {
	width:700px
	float:left
	min-height: 300px;

}

#footer {
	padding-left: 40px;
	padding-right: 20px;
	width: 984px;

}


#image {
	float: right;
}
#nav a:hover {
    background-color: #C0F6FF;
    font-size: medium;
}


body {
	background-color: rgba(0,171,255,1.00);
}

#container #text p {
    color: rgba(0,0,0,1.00);
    font-size: 16px;
}

#text p {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#container #text h2 {
	color: rgba(0,0,0,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#nav ul {
    padding-left: 0px;
    list-style-type: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#nav li {
    float: left;
}
